<ion-view title="Kitchen">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  <button menu-toggle="right" class="button button-icon icon ion-ios7-person"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" ng-show="content_loaded">
    <ul class="list">
      <li ng-repeat="appliance in appliances" class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-click=toggleAppliance(appliance) ng-checked="appliance.owned" />
        </label>
        {{ appliance.kind }}
      </li>
    </ul>
  </ion-content>
</ion-view>
