<ion-view title="Meals">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  <button menu-toggle="right" class="button button-icon icon ion-ios7-person"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div ng-show="users_meals">
      <div class="list card" ng-repeat="user_meal in users_meals| orderBy:['scheduled_at']">
        <div class="item item-divider">
          {{ user_meal.scheduled_at }}
        </div>
        <div class="item item-body">
          {{ user_meal.meal.name }}
          <button ng-click="deleteUserMeal(user_meal)">Delete</button>
          <button ng-click="viewMealDetails(user_meal.meal)">View</button>
        </div>
      </div>
    </div>
    <div ng-hide="users_meals">
      <h1>No Meals logged :(</h1>
    </div>
  </ion-content>
</ion-view>

