<ion-view title="Menu">
<ion-nav-buttons side="left">
<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
<button menu-toggle="right" class="button button-icon icon ion-ios7-person"></button>
</ion-nav-buttons>
<ion-content class="has-header" ng-show="content_loaded">
<div ng-if="available_meal">
  <div class="row push_footer">
    <div class="col">
      <h2> {{ available_meal.name }}</h2>
      <p>{{ available_meal.name }} details</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col">
      <button ng-click="nextAvailableMeal()" class="button button-large button-assertive button-outline pos_fl ml1pt5">I'll Pass</button>
    </div>
    <div class="col">
      <button ng-click="eat()" class="button button-large button-positive button-outline pos_fr mr1pt5">Pick It!</button>
    </div>
  </div>
</div>
<div ng-if="!available_meal">
  <h2>No meals left :(</h2>
</div>
</ion-content>
</ion-view>
