<ion-view title="Sign In" hide-nav-bar="true" >
  <ion-header-bar align-title="center" class="bar-light">
    <div class="buttons">
      <button class="button button-clear" ng-click="returnToWelcome()">
        <i class="icon ion-arrow-left-c"></i>
      </button>
    </div>
    <h1 class="title">Welcome Back</h1>
    <div class="buttons">
      <button type="submit" class="button button-positive" ng-click="signIn()">Sign In</button>
    </div>
  </ion-header-bar>
  <ion-content class="splash_back" scroll="false">
    <div class="content animated fadeInUp">
      <form ng-submit="signIn()">
        <div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="signin.email" autofocus required />
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="signin.password" required />
          </label>
        </div>
      </form>
      <div class="row">
        <div class="col text-center text-white">
          <p>Forgot something? <button class="button button-clear button-light button-small reset-password">Reset your password.</button></p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
