<ion-view title="SignIn">
  <ion-content class="has-header">
  <div class="content has-header">
    <div class="row" ng-hide="show_email_and_password_form">
      <div class="col">
        <button class="button-icon icon ion-social-twitter" ng-click="signinWithTwitter()"></button>
      </div>
      <div class="col">
    <button class="button-icon icon ion-social-facebook" ng-click="signinWithFacebook()"></button>
      </div>
      <div class="col">
    <button class="button-icon icon ion-social-googleplus" ng-click="signinWithGoogle()"></button>
      </div>
      <div class="col">
        <button class="button-icon icon ion-android-mail" ng-click="toggle_email_and_password_form()"></button>
      </div>
    </div>
    <div ng-show="show_email_and_password_form">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="password">
        </label>
      </div>
      <div class="padding">
        <button ng-click ="signIn()" class="button button-block button-positive">Sign in</button>
        <button ng-click ="toggle_email_and_password_form()" class="button button-block button-assertive">Cancel</button>
      </div>
    </div>

    {{ signup.email }}
    <form ng-submit="signUpWithEmailPassword()">
      <div class="list list-inset">
        <label class="item item-input">
        <input type="email" placeholder="email" ng-model="signup.email" required />
        </label>
        <label class="item item-input">
          <input type="password" placeholder="password" ng-model="signup.password" pattern=".{8,}" title="Password must be at least 8 characters." required />
        </label>
        <label class="item item-input">
          <input type="text" placeholder="full name" ng-model="signup.name" required />
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Sign Up</button>
      </div>
    </form>
  </ion-content>
</ion-view>
