<ion-view title="Welcome" hide-nav-bar="true" >
  <ion-content class="splash_back " scroll="false">
    <div class="content has-header">
      <div class="welcome-information">
        <ion-slide-box does-continue="true">
          <ion-slide>
          <div class="slide_div animated fadeInUpBig">
            <h1>Mojave</h1>
            <h3>A personal assistant for your kitchen.</h3>
          </div>
          </ion-slide>
          <ion-slide>
          <div class="slide_div">
            <h1>Save Money</h1>
            <h3>Mojave presents you with a menu of meal ideas based on your current ingredients and appliances so you can save trips to the grocery store.</h3>
          </div>
          </ion-slide>
          <ion-slide>
          <div class="slide_div">
            <h1>Eat Well</h1>
            <h3>Mojave curates recipes and only provides recipes that have been certified to be delicious.</h3>
          </div>
          </ion-slide>
        </ion-slide-box>
        <div class="row">
          <div class="col">
            <button ng-click="go_to_sign_up()" class="button button-large button-light button-clear">Sign Up</button>
          </div>
          <div class="col">
            <button ng-click="go_to_sign_in()" class="button button-large button-light button-clear">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
