//Override ionic variables
$balanced: #2C4F4F !default;
$positive: #78B478 !default;
$assertive: #283B3B !default;

@import "ionic/ionic";
@import "animate";

// your slick styles can go here...
// when Sass processes, both Ionic's Sass and your Sass will combine
// into one file and saved in your app's directory as css/app.css

#flash-messages .error{
  background: red;
  color: white;
}

#flash-messages .success{
  background: green;
  color: white;
}

.has-search-box {
  top: 85px;
}

.splash_back {
  background: url('../img/mojave_splash.jpg');
  background-size: auto 100%;
  min-height:100%;

  .welcome-information {
    text-align: center;
    padding: 0 1%;

    h1 {
      color: #ffffff;
      font-family: 'Lobster', sans-serif;
    }
    h2,h3 {
      color: #ffffff;
      font-family: 'Lato', sans-serif;
    }
  }
}

.bar-footer {
  padding: 0px;
}

.bar-footer.with_button {
  height: 60px;

  .button-full {
    height: 100%;
  }
}

h2 {
  font-family: 'Lato', sans-serif;
}

.padded_content {
  margin: 1em;
  margin-bottom: 2em;
}

hr {
  border-style: none;
  border-bottom: .1em solid #dddddd;
  color: #dddddd;
}

.push_footer {
  height: 90%;
}

.italic {
  font-style: italic;
}

.pos_fl {
  float: left;
}

.pos_fr {
  float: right;
}

.ml1pt5 {
  margin-left: 1.5em;
}

.mr1pt5 {
  margin-right: 1.5em;
}

.slide_div {
  margin: 5em 1em;
}

.slider i {
  color: #ffffff;
}

.large-loading-icon {
  font-size: 90px;
}
