//Override ionic variables
$balanced: #2C4F4F !default;
$positive: #78B478 !default;
$assertive: #283B3B !default;

@import "ionic/ionic";

// your slick styles can go here...
// when Sass processes, both Ionic's Sass and your Sass will combine
// into one file and saved in your app's directory as css/app.css

#flash-messages .error{
  background: red;
  color: white;
}

#flash-messages .success{
  background: green;
  color: white;
}

.splash_back {
  background: url('../img/mojave_splash.jpg');
  background-size: auto 100%;

  .welcome-information {
    text-align: center;
    padding: 0 1%;

    h1 {
      color: #ffffff;
      font-family: 'Lobster', sans-serif;
    }
    h2 {
      color: #ffffff;
      font-family: 'Lato', sans-serif;
    }
  }
}


